# Environment variables
.env

# Node.js
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Database
*.sqlite
*.sqlite3
*.db

# IDE
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# Operating System
.DS_Store
Thumbs.db
